Must Have: 
 - Create fully ready web page according the design (in places with grey boxes, should be images); 
 - Browsers Support (your web page should work properly on the Chrome, Mazilla and Edge);
 - The page should have max-width: 1200px and centered;
 - All clickable elements must change styles regarding the appropriate pseudo-classes (:hover, :active, etc.);

Nice to have:
 - Use media-queries (make your page responsive);
 - Create slider for images in a top section (under navigation menu);
 - Use custom sprites for icons; 

	